*.pyc
*dilla*
*.db
*nbproject*
*devserver*
.gitconfig
/update.sh
#/addons/sounds
/admin/Public/templates/default/footer.tpl
/admin/Public/templates/default/index.tpl
/customer/templates/default/index.tpl
