RewriteEngine On
RewriteBase /

# To externally redirect /dir/foo.php to /dir/foo/
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
#RewriteCond %{THE_REQUEST} \s(\S+)((\.php)*/*|/*) [NC]
RewriteCond %{REQUEST_METHOD} !=POST
RewriteCond %{THE_REQUEST} \s(\S+)\.php
RewriteRule ^ %1 [R=301,L]

RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteRule ^(.*)(/+)$ $1.php [R=301,L]

# To internally redirect /dir/foo/ to /dir/foo.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule (\S+) $1.php [L,QSA]
