[Unit]
Description=Asterisk PBX
Wants=network.target
After=network.target
After=mysqld.service
Requires=mysqld.service
[Service]
Type=simple
Environment=HOME=/var/lib/asterisk
WorkingDirectory=/var/lib/asterisk
User=asterisk
Group=asterisk
PIDFile=/run/asterisk/asterisk.pid
ExecStart=/usr/local/asterisk/sbin/asterisk -ftTnpC /etc/asterisk/asterisk.conf
ExecStop=/usr/local/asterisk/sbin/asterisk -rx 'core stop now'
ExecReload=/usr/local/asterisk/sbin/asterisk -rx 'core reload'
PrivateTmp=true
Restart=on-failure
RestartSec=10
TimeoutSec=120
[Install]
WantedBy=multi-user.target
